<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formas disponíveis</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Nome
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="text-right"></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Boleto Bancário
                                </td>
                                <td>
                                    Ativo
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-warning btn-sm">Alterar</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cartão de Crédito
                                </td>
                                <td>
                                    Ativo
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-warning btn-sm">Alterar</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cartão de Débito
                                </td>
                                <td>
                                    Ativo
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-warning btn-sm">Alterar</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pix
                                </td>
                                <td>
                                    Ativo
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-warning btn-sm">Alterar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>