<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Solicitações de tickets</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>ID</th>
                            <th>Data</th>
                            <th>Tutor</th>
                            <th>Qtde</th>
                            <th>Unitário</th>
                            <th>Total</th>
                            <th>Fatura</th>
                            <th>Situação</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    #10002
                                </td>
                                <td>
                                    12/06/2021 16:32h
                                </td>
                                <td>
                                    Ronaldo Robson
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    <a href="#"><button class="btn btn-neutral btn-icon btn-fab"><i class="fa fa-file-pdf-o"></i></button></a>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Pago</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #10003
                                </td>
                                <td>
                                    12/06/2021 16:42h
                                </td>
                                <td>
                                    Gustavo Rocha
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    R$ 30,00
                                </td>
                                <td>
                                    <a href="#"><button class="btn btn-neutral btn-icon btn-fab"><i class="fa fa-file-pdf-o"></i></button></a>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm">Pendente</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #10004
                                </td>
                                <td>
                                    12/06/2021 16:56h
                                </td>
                                <td>
                                    Primo Pobre
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    <a href="#"><button class="btn btn-neutral btn-icon btn-fab"><i class="fa fa-file-pdf-o"></i></button></a>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm">Cancelado</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>