<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Feedbacks dos usuários</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Data</th>
                            <th>Nome</th>
                            <th>Assunto</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/06/2021 16:32h</td>
                                <td>Ronaldo Robson</td>
                                <td>Melhorias na pequisa de passeio</td>
                                <td>
									<a [routerLink]="['/reclamacao-sugestao/detalhes', 1]">
										<button class="btn btn-primary btn-sm">Detalhes</button>
									</a>
								</td>
                            </tr>
                            <tr>
                                <td>12/06/2021 16:32h</td>
                                <td>Ronaldo Robson</td>
                                <td>Melhorias na pequisa de passeio</td>
                                <td>
									<a [routerLink]="['/reclamacao-sugestao/detalhes', 2]">
										<button class="btn btn-primary btn-sm">Detalhes</button>
									</a>
								</td>
                            </tr>
                            <tr>
                                <td>12/06/2021 16:32h</td>
                                <td>Ronaldo Robson</td>
                                <td>Melhorias na pequisa de passeio</td>
                                <td>
									<a [routerLink]="['/reclamacao-sugestao/detalhes', 3]">
										<button class="btn btn-primary btn-sm">Detalhes</button>
									</a>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>