<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Termos de condições, uso e privacidade.</h4>
            </div>
            <div class="card-body">
                <ckeditor [editor]="Editor" data="<h4>1. Relacionamento Contratual</h4><h4>2. Os Serviços</h4><h4>3. Uso dos Serviços</h4><h4>4. Pagamento</h4>
                    <h4>5. Recusa de Garantia; Limitação de Responsabilidade; Indenização.</h4><h4>6. SOLUÇÃO DE CONTROVÉRSIAS</h4><h4>7. Legislação Aplicável; Jurisdição.</h4><h4>8. Outras Disposições</h4>"></ckeditor>

                <hr>

                <button type="button" class="btn btn-success btn-block">Atualizar informações</button>

            </div>
        </div>
    </div>
</div>