<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Depósitos solicitados pelos dog walkers</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>ID</th>
                            <th>Data</th>
                            <th>Dog walker</th>
                            <th>Total</th>
                            <th>Situação</th>
                            <th class="text-right"></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    #10002
                                </td>
                                <td>
                                    12/06/2021 16:32h
                                </td>
                                <td>
                                    Petclean
                                </td>
                                <td>
                                    R$ 15,00
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Concluído</button>
                                </td>
                                <td class="text-right">
                                    <a [routerLink]="['/deposito/detalhes', 10002]"><button class="btn btn-primary btn-sm">Detalhes</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #10003
                                </td>
                                <td>
                                    12/06/2021 16:42h
                                </td>
                                <td>
                                    Dogwalker SRS
                                </td>
                                <td>
                                    R$ 30,00
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm">Pendente</button>
                                </td>
                                <td class="text-right">
                                    <a [routerLink]="['/deposito/detalhes', 10003]"><button class="btn btn-primary btn-sm">Detalhes</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>