<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Dog walkers cadastrados na plataforma</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Nome
                            </th>
                            <th>
                                E-mail
                            </th>
                            <th>
                                Cidade/UF
                            </th>
                            <th>
                                Saldo
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="text-right"></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Dogwalker SRS
                                </td>
                                <td>
                                    dogwalkersrs@gmail.com
                                </td>
                                <td>
                                    Santa Rita do Sapucaí/MG
                                </td>
                                <td>
                                    R$ 80,00
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm">Ativo</button>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary btn-sm">Detalhes</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Petclean
                                </td>
                                <td>
                                    petclean@gmail.com
                                </td>
                                <td>
                                    Santa Rita do Sapucaí/MG
                                </td>
                                <td>
                                    R$ 00,00
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm">Pendente</button>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary btn-sm">Detalhes</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Luis Felipe
                                </td>
                                <td>
                                    lfscovelo@gmail.com
                                </td>
                                <td>
                                    Santa Rita do Sapucaí/MG
                                </td>
                                <td>
                                    R$ 00,00
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm">Bloqueado</button>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary btn-sm">Detalhes</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>